{% extends './base.html' %}

{% block main_header %}
	{{ block.super }}
{% endblock %}

{% block main %}
<div class="content-wrapper">
      <div class="container">
      	<div class="row">
      		<div class="col-md-12">
      			<div class="main-block-header-underline text-center">Wyniki</div>
      		</div>
      		<div class="col-md-12 supositioner-site-wrapper supositioner-3-site-wrapper">
      			<div class="row supositioner-nutrition-detail-row border-line-green">
      				<div class="col-lg-4 nutrition">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4 nutrition">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4 nutrition">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      			</div>
      			<div class="row supositioner-nutrition-detail-row border-line-red">
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      			</div>
      			<div class="row supositioner-nutrition-detail-row border-line-yellow">
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      				<div class="col-lg-4">
      					<div class="row">
							<div class="col-sm-5">
								<img src="http://127.0.0.1:8000/media/img/nutrition/kfd-bcaa-x-caps-1000-400-kapsulek.jpg" class="supositioner-nutrition-detail-image">
							</div>
							<div class="col-sm-7 supositioner-nutrition-detail-list">
								<div class="supositioner-nutrition-detail">HEMP PROTEIN</div>
								<div class="supositioner-nutrition-detail">Producent: Olimp</div>
								<div class="supositioner-nutrition-detail">Opakowanie: 1000g</div>
								<div class="supositioner-nutrition-detail"></div>
								<div class="supositioner-nutrition-detail-rate">Ocena </div>
								<div class="supositioner-nutrition-detail">Cena: 152zł</div>
							</div>
						</div>
      				</div>
      			</div>
      		</div>
      	</div>
	</div>
</div>
{% endblock %}