{% extends './base.html' %}

{% block main_header %}
	{{ block.super }}
{% endblock %}

{% block main %}
<div class="content-wrapper">
      <div class="container">
      	<div class="row">
      		<div class="col-md-12">
      			<div class="main-block-header-underline text-center">Podstawowe informacje &#10095;</div>
      		</div>
      		<div class="col-md-12 supositioner-site-wrapper">
      			<div class="row supositioner-choice-group">
      				<div class="supisitioner-choice-header">
      					Twój staż na siłowni / poziom wiedzy o suplementach:
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-green">odchudzanie</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-yellow">średniak</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-red">byk</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      			</div>
      			<div class="row supositioner-choice-group">
      				<div class="supisitioner-choice-header">
      					Twój staż na siłowni / poziom wiedzy o suplementach:
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-green">amator</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-yellow">średniak</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
      						<div class="supositioner-choice-label bg-red">byk</div>
      					</div>
      					<div class="col-md-10 supositioner-choice-text">
	      					<div class="supositioner-choice-description">
	      						<div class="supositioner-choice-description-header">
	      							Dopiero zaczynam przygodę z siłowią oraz suplementami, nie wiem czego potrzebuje, BYKU doradź mi.
	      						</div>
	      						<div class="supositioner-choice-description-text">
	      							suPositioner zaproponuje zestawy dla początkujących uwzględniając wybrane preferencje.
	      						</div>
	      					</div>
	      				</div>
      				</div>
      			</div>
      			<div class="row supositioner-choice-group">
      				<div class="supisitioner-choice-header">
      					Preferencje dotyczące producentów (opcjonalne):
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-sm-12">
  							<div class="supositioner-choice-company bg-green">Polscy producenci</div>
  							<div class="supositioner-choice-company bg-green">zagraniczni producenci</div>
  						</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-8">
	      					<div class="supositioner-choice-description-header">
	      						Wyklucz konkretnych producentów:
	      					</div>
	      				</div>
      				</div>
      				<div class="row supositioner-choice w-100">
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" >
							    Olimp
							  </label>
							</div>
						</div>
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" >
							    Olimp
							  </label>
							</div>
						</div>
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" >
							    Olimp
							  </label>
							</div>
						</div>
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
							    Olimp
							  </label>
							</div>
						</div>
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1">
							    Olimp
							  </label>
							</div>
						</div>
      					<div class="col-md-2">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" >
							    Olimp
							  </label>
							</div>
						</div>
      				</div>
	      		</div>
	      		<div class="row supositioner-choice-group">
	      			<div class="col-sm-2 mx-auto">
	      				<div class="btn btn-outline-secondary">Dalej &#10095;</div>
	      			</div>
	      		</div>
      		</div>
      	</div>
	</div>
</div>
{% endblock %}