{% extends '../base.html' %}

{% block header %}
{% endblock %}

{% block main %}
<div class="content-wrapper">
      <div class="container-fluid article-list-view">
		<div class="row article-nav-spacing-list-view">
			<div class="col-lg-9 article-detail-list-view">
				{% for object in object_list %}
						<div class="row mb-5">
							<div class="col-10">
								<div class="row">
									<div class="col">
										<a href="{% url 'article' article_slug=object.slug %}" class="a-unstyled">
											<div class="article-title-list">{{ object.title }}</div>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="article-info-list ">
										<div class="col" style="flex-wrap: wrap;">
											<div class="" style="white-space: nowrap;">
												<span>Autor: {{ object.user }}</span>
											</div>
										</div>
										<div class="col">
											<span class="badge badge-danger">{{ object.category }}</span>
										</div>
										<div class="col-lg-5">
											<div class="" >
												<span class="">{{ object.tags }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="row">
									<div class="col">
										<div class="article-date-list float-right text-center">
											<div class="article-date-day-list">{{ object.publish_date|date:"j" }}</div>
											<div class="article-month-day-list">{{ object.publish_date|date:"M" }}</div>
											<div class="article-year-day-list">{{ object.publish_date|date:"o" }}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="article-image-wrapper-list d-none d-sm-block">
								<img src="{{ object.photo.url }}" class="img-fluid">
							</div>
							<div class="row">
								<div class="article-summary-list">
									<p>{{ object.summary }}</p>
									<a href="{% url 'article' article_slug=object.slug %}" class="btn btn-outline-dark article-list-read-more-btn">Czytał całość</a>
								</div>
							</div>
						</div>
				{% endfor %}
			</div>
			<div class="col-lg-3 article-categories-list-view">
				<h3>KATEGORIE:</h3>
				{% for category in categories %}
					<a href="{% url 'articles-category' category_slug=category.slug %}"><p>{{ category.name }}</p></a>
				{% endfor %}
			</div>

		</div>
	{% if is_paginated %}
	<nav aria-label="pagination" class="list-pagination">
	  <ul class="pagination justify-content-center">
	    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
	      <a class="page-link" href="{% if page_obj.has_previous %}
	      								{% url 'articles' %}?page={{ page_obj.previous_page_number }}
	      							{% else %}
	      							#
	      							{% endif %}">Poprzednia</a>
	    </li>
	    {% for page in page_obj.paginator.page_range %}
	    	<li class="page-item"><a class="page-link" href="{% url 'articles' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
	    {% endfor %}
	    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
	      <a class="page-link" href="{% if page_obj.has_next %}
	      								{% url 'articles' %}?page={{ page_obj.next_page_number }}
	      							{% else %}
	      							#
	      							{% endif %}">Następna</a>
	    </li>
	  </ul>
	</nav>
	{% endif %}
	</div>
</div>
{% endblock %}


		        <div class="col-lg-12 mx-auto">
		          <div class="card home-article home-article-featured">
		            <div class="row">
		              <div class="col-lg-9 home-article-photo d-flex align-items-start flex-column" style="background: url({{ object.photo.url }});">
		                <div class="home-article-photo-bar home-article-photo-bar-featured mt-auto">
		                  Artykuł / trening / nogi
		                </div>
		              </div>
		              <div class="col-lg-3 home-article-text">
		                <h3>{{ object.title }}</h3>
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae quisquam unde ullam asperiores similique tenetur, quia voluptates commodi odio amet a repellendus adipisci tempore officiis quod facere aliquid harum!</p>
		            	<a href="{% url 'article' article_slug=object.slug %}" class="btn btn-outline-dark btn-block article-read-more-btn">Czytał całość</a>
		              </div>
		            </div>
		          </div>
		        </div>