{% extends '../index.html' %}


{% block photo %}
	background-image: url({{ object.photo.url }}
{% endblock %}

{% block main_header %}
	<div class="d-flex justify-content-center main-header-flex-wrapper">
		<div class="header-text-title">{{ object.title }}</div>
		<div class="header-text-desc text-center">
			<div>{{ object.user }}</div>
			<div>{{ object.publish_date|date:'d.m.o' }}</div>
		</div>
	</div>
{% endblock %}
{% block header-style %}article-header{% endblock %}

{% block main %}
<div class="text-muted my-5">
      <div class="container">
		<div class="row">
			<div class="col-md-9 mx-auto">
			    {% autoescape off %}<p>{{ object.content|safe }}</p>{% endautoescape %}
			</div>
		</div>
		{% if object.linked %}
			<h3 class="text-center">Powiązane artykuły</h4>
			<div class="linked-articles-wrapper">
				<div class="row mx-auto">
					{% for link in object.linked.all %}
						<div class="col" style="background-image: url({{ link.photo.url }}); background-size: cover; min-height: 150px;">
							<div class="link-article-list">
								<a href="{% url 'article' article_slug=link.slug %}">
									<div class="btn btn-outline-light" role="button">{{ link.title }}</div>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}