{% extends '../base.html' %}
{% load static %}


{% block photo %}
	background-image: url({% static 'img/first_steps_header.jpg' %})
{% endblock %}

{% block main_header %}
    <div class="d-flex justify-content-center main-header-flex-wrapper">
      <div class="mt-auto main-header-content">
          <div class='header-text-title text-center red'>Zanim  zaczniesz</div>
          <div class="header-text-desc text-center">
            Pamiętaj, że na samym początku Twojej przygody z siłownią i pracy nad budową ciała wystarczą chęci i podstawowa wiedza, która pomoże Ci w osiągnięciu założonych celów!
          </div>
      </div>
    </div>
{% endblock %}
{% block header-style %}{% endblock %}

{% block main %}
<div class="content-wrapper">
      <div class="container">
      	<div class="row">
      		<div class="col-md-12">
      			<div class="main-block-header-underline text-center">Poniżej znajdziesz wszystkie informacje niezbędne do rozpoczęcia przygody z siłownią</div>
      		</div>
      		<div class="col-lg-11 mx-auto">
      			<div class="row"  id="first_steps">
      				<div class="col-lg-3">
						<div class="first-step-rectangle-header bg-yellow" role="button" data-toggle="collapse" data-target="#first_steps_one" aria-controls="first_steps_one" aria-expanded="true" aria-label="Toggle navigation" data-parent="#first_steps">MOTYWACJA</div>
						<div id="first_steps_one" class="first-steps-collapse collapse">
							{% for object in articles_motivation %}
	      						<a href="{% url 'article' article_slug=object.slug %}">
	      							<div class="w-100 first-step-rectangle-wrapper border-line-yellow">{{ object.title }}</div>
	      						</a>
							{% endfor %}
						</div>
      				</div>
      				<div class="col-lg-3">
						<div class="first-step-rectangle-header bg-blue" role="button" data-toggle="collapse" data-target="#first_steps_two" aria-controls="first_steps_two" aria-expanded="true" aria-label="Toggle navigation" data-parent="#first_steps">PODSTAWY</div>
						<div id="first_steps_two" class="first-steps-collapse collapse">
							{% for object in articles_basics %}
	      						<a href="{% url 'article' article_slug=object.slug %}">
	      							<div class="w-100 first-step-rectangle-wrapper border-line-blue">{{ object.title }}</div>
	      						</a>
							{% endfor %}
						</div>
      				</div>
      				<div class="col-lg-3">
						<div class="first-step-rectangle-header bg-red" role="button" data-toggle="collapse" data-target="#first_steps_three" aria-controls="first_steps_three" aria-expanded="true" aria-label="Toggle navigation" data-parent="#first_steps">ZDECYDOWAŁEM SIĘ</div>
						<div id="first_steps_three" class="first-steps-collapse collapse">
							{% for object in articles_diet %}
	      						<a href="{% url 'article' article_slug=object.slug %}">
	      							<div class="w-100 first-step-rectangle-wrapper border-line-red">{{ object.title }}</div>
	      						</a>
							{% endfor %}
						</div>   					
      				</div>
      				<div class="col-lg-3">
						<div class="first-step-rectangle-header bg-green" role="button" data-toggle="collapse" data-target="#first_steps_four" aria-controls="first_steps_four" aria-expanded="true" aria-label="Toggle navigation" data-parent="#first_steps">PORADY BYKA</div>
						<div id="first_steps_four" class="first-steps-collapse collapse">
							{% for object in articles_advices %}
	      						<a href="{% url 'article' article_slug=object.slug %}">
	      							<div class="w-100 first-step-rectangle-wrapper border-line-green">{{ object.title }}</div>
	      						</a>
							{% endfor %}
						</div>      					
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
</div>
{% endblock %}