input[type="text"],  input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, input[type="email"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  background: transparent;
  box-shadow: none;
  color:black;
  outline: none !important;
}

textarea:focus { 
    outline: none !important;
}

textarea {
  height: 9rem;
  outline: none !important;
  border: none !important;
}