html, body {
  height: 100%;
}

.a-unstyled { color: inherit; text-decoration: inherit; }
.a-unstyled:link { color: inherit; text-decoration: inherit; }
.a-unstyled:visited { color: inherit; text-decoration: inherit; }
.a-unstyled:hover { color: inherit ; text-decoration: inherit;}
.a-unstyled:active { color: inherit; text-decoration: inherit; }

.navbar-inverse .a-unstyled { color: inherit; text-decoration: inherit;}
.navbar-inverse .a-unstyled:link { color: inherit; text-decoration: inherit;}
.navbar-inverse .a-unstyled:visited { color: inherit; text-decoration: inherit;}
.navbar-inverse .a-unstyled:hover { color: inherit; text-decoration: inherit;}
.navbar-inverse .a-unstyled:active { color: inherit; text-decoration: inherit;}

.red{
  color: #FF3838;
}

.border-line-red{
    border-color: #FF3838;
}

.border-line-green{
    border-color: #44C66B;
}

.border-line-yellow{
    border-color: #F9EB33;
}

.border-line-blue{
    border-color: #268BFF;
}

.bg-gray{
  background-color: #F9F9F9;
}

.bg-red{
    background-color: #FF3838;
}

.bg-green{
    background-color: #44C66B;
}

.bg-yellow{
    background-color: #F9EB33;
}

.bg-blue{
   background-color: #268BFF;
}

.main-card{
  height: 10rem;
}

.main-card:hover{
  background: gray;
  color: white;
}

/*nav*/
.logo{
  width: 186px;
  margin-top:80px;
}

.nav-spacing{
  margin-top:110px;
}

.nav-bar{
  border-bottom: 5px solid gray;
}

.custom-navbar{
  background-color: #fff;
  width:100%;
}

.custom-navbar-brand{
  position: fixed;
}

.custom-nav{
  background: #fff;
  height: 110px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-light .navbar-nav .nav-link{
   color: #000; 
}

.custom-nav-link{
  font-size: 20px;
  margin:0 !important;
  padding:0 !important;
}

.custom-nav-link:hover{
  color: red !important; 
}

.navbar-nav{
  margin-right: 10px;
}

.header-text-title{
  font-size: 2.5rem;
  font-weight: 700;
}

.header-wrapper{
    width: 100%;
}

.main-header-news{
  background-color: #6f6f6f;
  opacity: .70;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
  vertical-align:top;
  /*position: fixed;*/
  min-height: 20px;
}

.main-header-news-text{
  padding-top:20px;
  padding-bottom:10px;
  color: white;
  font-size: 20px;
  text-align:center
}

.main-header-news-text-article{
  padding-left:15px;
}

.navbar-nav > li > .custom-nav-link:after{
  content: "|";
  color: black !important;
  margin: 10px;
}
.navbar-nav > li:nth-last-child(-n+2) > .custom-nav-link:after{
  content: "";
}

.navbar-nav > li:last-child{
    display: none;
}

@media screen and (max-width: 768px) {
  .navbar-nav > li > .custom-nav-link:after{
    content: "";
  }

  .navbar-nav > li{
    margin:5px 15px;
  }
}



/*input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}*/

/*input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  background: transparent;
  box-shadow: none;
  color:black;
}*/

.nav-search-input:focus + .nav-search-wrapper{
  visibility: visible;
}

.nav-search-wrapper{
  visibility: hidden;
}

.nav-search-button:hover{
  background-color: transparent;
  color: #f51c09;
  border-color:#80bdff;
  outline:0;
}

.nav-search-button{
  background-color: transparent;
  color: #f51c09;
  border-color:white;
  border-left:0;
}

.collapse.show{
  background-color: white;
}

/* main header */


.main-header{
  width: 100%;
  min-height: 500px;
  padding-bottom: 0px;
}

.main-header-flex-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  width: 100%;
}

.main-header-text{
  padding-top: 270px;
  max-width: 70%;
  font-size: 35px;
}

.header-text-desc{
  font-size: 1.5rem;
  padding: 1rem 10rem;
}

.main-header-content{
  background-color: rgba(0,0,0,0.5);
}

.main-photo{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  border-radius: 0;
  height: 100% ;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  margin-bottom: 0;
}

@media screen and (max-width: 1360px) {
  .custom-nav-link{
    font-size: 17px;
  }

  .custom-nav{
    height: 80px;
  }

  .nav-spacing{
    margin-top: 80px;
  }

  .logo{
    width: 150px;
    margin-top:60px;
  }
}


@media screen and (max-width: 1360px) {
/*  .main-header-text{
    padding-top: 170px;
    font-size: 25px;
  }*/
  
  .main-header{
    min-height: 350px;
  }


  .header-text-title{
    font-size: 2.5rem;
    font-weight: 700;
  }

  .header-text-desc{
    font-size: 1.2rem;
    padding: 1rem 8rem;
  }

  .article-header{
   min-height: 250px !important;
  }

/*  .main-photo{
    padding-bottom: 30px;
  }*/
}


@media screen and (max-width: 1024px) {
/*  .main-header-text{
    padding-top: 70px;
    font-size: 20px;
  }
*/


  .header-text-title{
    /*font-size: 32px;*/
  }

  .navbar-nav > li:nth-last-child(-n+3){
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav > li:last-child{
    display: block;
  }
}

@media screen and (max-width: 768px) {

  .main-header{
    min-height: 250px;
  }


  .header-text-title{
    font-size: 1.7rem;
  }

  .header-text-desc{
    font-size: 1rem;
    padding: 1rem 2rem;
  }



/*  .main-header-text{
    font-size: 15px;
  }*/
/*
  .header-text-title{
    /*font-size: 26px;*/
/*  }

  .main-photo{
    padding-bottom: 10px;
  }

  .main-header-news{
  display: none;
 }*/
 .custom-navbar-brand{
  left:50%;
  margin-left:-93px !important;
  z-index:10;
 }
}

@media screen and (max-width: 576px) {

  .main-header{
    min-height: 200px;
  }

  .article-header{
   min-height: 200px !important;
  }

}

/*.main-header-top-bar-only{
  padding:0 !important;
}*/


/* footer */
.custom-footer{
  border-top:1px solid #000;
  bottom: 0;
  width: 100%;
  background-color: #F9F9F9;
}

.footer-col-content-group{
  font-weight: 700;
  font-size: 17px;
  margin-bottom:10px;
}

.footer-col-bt-line{
  width: 30px;
  border-width: 0 0 10px 0;
  border-style: solid;
}




.footer-text-sm{
  font-weight: 200;
  font-size: 15px;
}

.footer-col{
  margin-top:15px;
  margin-bottom: 15px;
}

/* home*/

.home-supositioner-btn{
  cursor: default;
}

.home-article{
  background-color: black;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  /*height: 400px;*/
}

.home-article-photo{
    background-size: cover;
    min-height: 300px;
    padding:0;
}

.home-article-text{
  color:white;
}

.home-article-photo-bar{
  background-color: red;
  /*opacity: .6;*/
  padding:4px 30px;
}

.home-article-featured{
  background-color: red;
}

.home-article-photo-bar-featured{
  background-color: rgba(0,0,0,1);
  /*opacity: 1;*/
  color:white;
}



/* product detail */
.nutrition-composition>:nth-child(odd)>div {
    background-color: rgba(0,0,0,.1);
}

.content-wrapper{
/*  padding-bottom:50px;*/
  min-height: 100%;
}


.whey-left-bar{
  border-left: 2px solid #98E7FF;
}

.bcaa-left-bar{
  border-left: 2px solid #2CBF5D;
}

.gainer-left-bar{
  border-left: 2px solid  #FFB300;
}

.creatine-left-bar{
  border-left: 2px solid #0800FF;
}

.preworkout-left-bar{
  border-left: 2px solid #EC4A4A;
}

.burner-left-bar{
  border-left: 2px solid #FFFF66;
}

/* lists */
.list-heading{
  padding-top:50px;
  padding-bottom: 50px;
}

.list-heading > a{
  margin:0 10px;
  font-size: 25px;
  color:#868e96;
}

.list-heading > a:hover{
  text-decoration: none
}

.list-heading > a{
  text-decoration: none
}

.list-heading-hover:hover{
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}


.whey-heading{
  border-bottom-color: #98E7FF;
}
.gainer-heading{
  border-bottom-color: #FFB300;
}
.bcaa-heading{
  border-bottom-color: #2CBF5D;
}
.creatine-heading{
  border-bottom-color: #0800FF;
}


.list-card{
  margin-top:10px;
  margin-bottom: 10px;
  height: 350px;
}

.list-card-price{
  color: orange;
  font-size: 25px;
}

.list-pagination{
  margin-top:50px;
}

@media screen and (min-width: 1024px) {
  .list-view{
    padding: 0 120px
  }
}


/* article */
.article-header{
  min-height: 350px;
}

.article-title{
  font-size: 40px;
}

.article-author{
  font-size: 25px;
}

.article-date{
  font-size: 15px;
}

.article-read-more-btn{
  color: #fff;
}

/*article list*/
.article-image-wrapper-list{
  width: 100%;
  max-height: 350px;
}

.article-info-list{
  display: flex;
  width: 100%;
  margin:20px 0px;
  flex-wrap: wrap;
}


/*
.article-info-list > div:after{
  content: "|";
  color: black;
  margin: 30px;
}

.article-info-list > div:last-child:after{
  content: "";
}
*/

.article-title-list{
  /*padding-left: 10px;*/
  font-size: 1.8rem;
  clear: both;
}

.article-list-read-more-btn{
  border-radius: 0;
}

.article-summary-list{
  margin:20px 35px;
}

.article-list-view{
  background-color: #F1F1F1;
  padding-left: 120px;
  padding-right: 120px;
}

.article-categories-list-view{
  padding-left: 40px;
  color:black;
}

.article-categories-list-view > p{
  margin: 15px 0;
  border-bottom: 1px solid black;
}

.article-detail-list-view{
  background-color: #fff;
}

.article-nav-spacing-list-view > div {
  padding-top:60px;
}

.article-date-day-list{
  font-size: 30px;
  font-weight: bold;
}

/*  404 */
.error-404-top{
  padding:80px;
}

.error-404-bottom{
  height: 18%;
  max-height: 18%;
}

.error-404-circle{
  width: 300px;
  height: 300px;
  background: #F1F1F1;
  padding-top: 70px;
  text-align: center;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  color:#767676;
}

.error-404-code{
  font-size: 80px;
  font-weight: bold;
}

.error-404-status-code{
  font-size: 30px;
}

.error-404-header{
  font-size: 50px;
  font-weight: bold;
  color:#2CBF5D;
}

.error-404-header-desc{
  font-size: 25px;
}

.error-404-desc{
  margin-top:30px;
  font-size: 25px;
}

.error-404-btn{
  margin-top:40px;
  padding:8px 30px;
}

.error-404-plug{
  max-width: 100%;
  height: auto;
}

.supositioner-site-wrapper{
}

.supositioner-header{
  background-color: gray;
  padding:0;
  min-height: 100px;
}

.supositioner-step-wrapper{
  width: 100%;
}

.supositioner-step{
  width:200px;
  height: 60px;
  color: #fff;
}

.supositioner-step-top{
  height: 50%;
  text-align: center;
}

.supositioner-step-bottom{
  height: 50%;
  background-color: #fff;
}

.supositioner-step-bottom-active{
  background-color: #44C66B;
}


.supositioner-choice-label{
  padding:10px;
  width: 70%;
  text-align: center;
  color:#fff;
}

.supositioner-choice-company{
  padding:10px;
  text-align: center;
  color: #fff;
  width: 30%;
  float:left;
  margin-right: 50px;
}

.supisitioner-choice-header{
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.supositioner-choice-text{

}

.supositioner-choice:hover .supositioner-choice-text > div{
  background-color: rgba(0,0,0,.1);
}

.supositioner-choice:hover .supositioner-choice-label{
  width: 100%;
}

/*.supositioner-choice-label:hover{
  width: 100%;
}*/

.supositioner-choice{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:6px;
  margin-right: 6px;
}

.supositioner-choice-description-header{
  font-weight: 700;
}

.supositioner-choice-group{
  margin-bottom:50px;
}





/* temp */
.temp-progress-bar-wrapper{
  width: 100%;
  background-color: #000;
}

.temp-progress{
  width: 100%;
  background-color: #000;
}

.temp-progress-bar{
  background-color: rgba(255,255,255,.3);
  height: 3px;
  line-height: 2.5rem;
  font-size: 2rem;
}

.temp-progres-summary{
  width: 100%;
}

.temp-header-text{
  color: rgba(10, 169, 63, 0.21);
  font-size: 80px;
  font-weight: 900;
}

.temp-header-motto{
  color: rgba(230, 0, 0, 0.27);
  font-size: 50px;
  font-weight: 500;
}

.temp-progress-wrapper{
  padding:0;
}

.body-bg{
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center
}

.progress-bar {
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}

.temp-facebook{
  width: 300px;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}



/* supositioner 3 */
.supositioner-3-site-wrapper{
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.supositioner-nutrition-detail{
  margin-top:3px;
  margin-bottom: 3px;
}

.supositioner-nutrition-detail{
  padding: 1px 5px;
}

.supositioner-nutrition-detail-row{
  margin-top:15px;
  margin-bottom: 15px;
  border-width: 0 0 0 5px;
  border-style: solid;
}

.supositioner-nutrition-detail-image{

  width: 180px;
  height: auto;
}

.supositioner-nutrition-detail-rate{
  margin-top:30px;
  margin-bottom:30px;
}

.supositioner-nutrition-detail-list>:nth-child(odd) {
    background-color: rgba(0,0,0,.1);
}

.nutrition-bg{
  background-color: yellow;
  z-index: 100;
}


/* contact */
.contact-text{
  border-width: 2px 0px;
  border-style: solid;
  border-color: #000;
  padding-top:15px;
  padding-bottom: 15px;
  margin-top:15px;
  margin-bottom: 15px;
}

.contact-text > div > div {
  margin-top:10px;
  margin-bottom: 10px;
}

.contact-form-control{
  min-width: 200px;
}



/* main block content */
.main-block-header-underline{
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 3px solid #000;
}


.first-step-rectangle-header{
  color:#fff;
  text-align: center;
  padding:5px;
  margin:10px 0px;
}


.first-step-rectangle-wrapper{
  text-align: center;
  margin:10px 0px;
  padding:10px;
  border-width: 5px;
  border-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.link-article-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .first-steps-collapse{
      display: block;
  }
}

@media screen and (max-width: 992px) {
/*  .first-steps-collapse{
      display: none;
  }*/
}


/* rate */
.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}


/* COMMENTS */
.comments-wrapper{
  margin-top:50px;
  margin-bottom: 50px;
}

.comments-header-line{
  border-bottom: 3px solid rgba(0,0,0,.1);
}

.comments-header-main{
  font-size: 35px;
}

.comments-header-new{
  font-size: 25px;
}

.comments-new-wrapper{
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.comments-avatar-wrapper{
   float:left;
   width: 50px;
   height: 50px;
}

.comments-avatar{
  width: 50px;
  height: 50px;
  background-color: orange;
}

.comments-rank-fields{
  float:left;
}