{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title></title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row error-404-top">
        <div class="col-lg-5">
          <div class="error-404-circle mx-auto">
            <div class="error-404-code">404</div> 
            <div class="error-404-status-code">page not found</div> 
          </div>
        </div>
        <div class="col-lg-7 text-center">
          <div class="error-404-header">Oooops!</div>
          <div class="error-404-header-desc">Wygląda na to, że zabłądziłeś</div>
          <div class="error-404-desc">Strona, której szukasz nie została odnaleziona, prawdopodobnie link jest uszkodzony ta strona została usunięta</div>
          <div class="btn btn-danger error-404-btn">wróć naSilke</div>
        </div>
      </div>
      <div class="row  d-none d-lg-block error-404-bottom">
        <img src="{% static 'img/404-plug.png' %}" class="error-404-plug">
      </div>
    </div>
  </body> 
</html>