{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>naSilke.com - złap byka za rogi</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">    
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet">
    {% block style %}{% endblock %}
  </head>
  <body>

    <div class="fixed-top" id="top">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" style="z-index:1050" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}

      <nav class="navbar navbar-expand-md navbar-light custom-nav nav-bar">
          <a class="navbar-brand custom-navbar-brand mx-auto" href="/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse custom-navbar" id="navbarsExampleDefault">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link custom-nav-link red" href="{% url 'supositioner' %}">suPositioner</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link custom-nav-link" href="{% url 'nutritions' %}">BAZA PRODUKTÓW</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link custom-nav-link" href="{% url 'nutritions' %}">RANKING</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link custom-nav-link" href="{% url 'first-steps' %}">ZANIM ZACZNIESZ</a>
              </li>
             <li class="nav-item">
                <a class="nav-link custom-nav-link" href="{% url 'articles' %}">ARTYKUŁY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link custom-nav-link" href="{% url 'companies' %}">WIĘCEJ</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="d-flex justify-content-center header-wrapper" id="header">
      {% block header %}
          <section class="jumbotron main-photo main-header d-flex  {% block header-style %}{% endblock %}" style="{% block photo %}background-image: url({% static 'img/main-header.jpg' %}{% endblock %}">
              {% block main_header %}
              {% endblock %}
          </section>
      {% endblock %}
    </div>

    {% block main %}
    {% endblock %}

    <footer class="custom-footer">
      <div class="container">
        <div class="row footer-row">
          <div class="col-md-4 mr-auto footer-col">
            <div class="footer-col-content-group">
              <a href="{% url 'contact' %}" class="a-unstyled">Kontakt</a>
              <div class="footer-col-bt-line border-line-red"></div>
            </div>
            <div class="footer-col-content-group">
              <div class="">Współpraca</div>
              <div class="footer-col-bt-line border-line-green"></div>
            </div>
            <div class="footer-col-content-group">
              <div class="">Regulamin oraz prawa autorskie</div>
              <div class="footer-col-bt-line border-line-yellow"></div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer-col-content-group">
              <div class="">Newsletter</div>
              <div class="footer-col-bt-line border-line-red"></div>
            </div>
            <div class="footer-col-content-group">
              <input type="email" class="form-control footer-text-sm" placeholder="wspisz swój adres email">
            </div>
            <div class="footer-col-content-group">
            <div class="footer-text-sm">Zapraszamy do subskrypcji newslettera naSilke, bądź na bieżąco!</div>
            </div>
          </div>
          <div class="col-md-3 ml-auto footer-col">
            <div class="footer-col-content-group">
              <div class="">Znajdziesz nas</div>
              <div class="footer-col-bt-line border-line-red"></div>
            </div>
            <div class="footer-text-sm">profil na facebooku</div>
            <div class="footer-text-sm">grupa byki naSilke</div>
            <div class="footer-text-sm">instagramowy blog</div>
          </div>
        </div>
        <div class="row footer-row">
          <div class="col-md-12 text-center">
            <div>Copyright 2016 naSilke.com. Wszystkie prawa zastrzeżone.</div>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script>

$('document').ready(function(){
      var height = $("#top").height();
      if(height > 0)
      {
        $("#header").css("margin-top",height+"px");
      }
  });

 $('#top').on("DOMSubtreeModified",function(){
    var height = $("#top").height();
      if(height > 0)
      {
        $("#header").css("margin-top",height+"px");
      }
  });
  </script>

  {% block script %}
  {% endblock %}

</body>
</html>