{% extends './base.html' %}

{% load forms_attrs %}

{% block main_header %}
{% endblock %}
{% block header-style %}main-header-top-bar-only{% endblock %}
{% block photo %}{% endblock %}
{% block header %}
	{{ block.super }}
{% endblock %}

{% block main %}
<div class="content-wrapper">
      <div class="container">
      	<div class="row ">
      		<div class="col-md-10 mx-auto bg-gray p-3">
      			<div class="row">
      				<div class="col-md-12">
      					<div class="supositioner-choice-description-header">KONTAKT</div>
      				</div>
      			</div>
      			<div class="row contact-text">
      				<div class="col-md-12">
	      				<div>Jeżeli masz pytania dotyczące funkcjonowania naszej strony, chcesz zgłosić błędy, które na niej znalazłeś, masz ciekawy pomysł, którym chciałbyś się podzielić, lub inny temat do romozwy czekamy na wiadomośc od Ciebie</div>
	      				<div>W przypadku pytać dotyczących szeroko pojętej współpracy odsyłamy tutaj</div>
	      				<div>Zacznij od wybrania tematu wiadomości.</div>
      				</div>
      			</div>
      			<div class="row">
      				<div class="col-md-12">
						<form method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="inputsubject" class="supositioner-choice-description-header">Mam pytanie dotyczące*:</label>
								{{ form.contact_type|addatr:"class: form-control w-25 contact-form-control, id:inputsubject" }}
							</div>
							<div class="form-group">
								<label for="inputname" class="supositioner-choice-description-header">Imię*</label>
								{{ form.name|addatr:"class: form-control w-25 contact-form-control, id: inputname" }}
							</div>
							<div class="form-group">
								<label for="inputemail" class="supositioner-choice-description-header">Twój adres e-mail*:</label>
								{{ form.email|addatr:"class: form-control w-25 contact-form-control, id: inputemail" }}
							</div>
							<div class="form-group">
								<label for="inputmessage" class="supositioner-choice-description-header">Wiadomość*:</label>
								{{ form.message|addatr:"class: form-control w-100, id:inputmessage" }}
							</div>
							<div class="form-group text-left">
								<small class="text-muted">(*) pola oznaczone w formularzu gwazdką są wymagane do przekazania wiadomości</small>
							</div>
							<div class="form-group text-right">
								<input type="submit" class="btn btn-outline-secondary" value='Wyślij wiadomość'>
							</div>
							
						</form>
					</div>
      			</div>
      		</div>
  		</div>
 	 </div>
</div>
{% endblock %}

