{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>naSilke.com - złap byka za rogi</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.mightymeta.co.uk/resources/css-noise.css">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body class="noise body-bg" style="background-image: url({% static 'img/logo-gray.png' %})">
    <div class="site-wrapper h-100">
      <div class="container-fluid temp-progress-wrapper">
        <div class="temp-progress-bar-wrapper">
          <div class="progress temp-progress">
             <div class="progress-bar temp-progress-bar" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
             </div>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="colm-md-6 mx-auto">
              <div class="temp-header-text text-center">JUŻ NIEBAWEM</div>
            </div>
          </div>
          <div class="row">
            <div class="colm-md-6 mx-auto">
              <div class="temp-header-motto text-center">złapiesz byka za rogi</div>
            </div>
          </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="col-md-6 ml-auto text-right">
           <img src="{% static 'img/facebook-logo-gray.png' %}" class="temp-facebook">
        </div>
      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script>
    $( document ).ready(function() {
      $(".progress-bar").css('width', '50%');
    });
  </script>
</html>
