{% extends 'base.html' %}
{% load static %}

{% block main_header %}
    <div class="d-flex justify-content-center main-header-flex-wrapper">
      <div class="mt-auto main-header-content">
          <div class='header-text-title text-center'>Co to jest suPositioner?</div>
          <div class="header-text-desc text-center">
            Usługa suPositioner oferuje innowacyjne system wyszukiwania
            spersonalizowanych suplementów diety w oparciu o autorski alogyrtm
            skierowany jest zarówno do nowych jak i doświadczoncy siłaczy
          </div>
      </div>
    </div>
{% endblock %}

{% block header-style %}{{ block.super }}{% endblock %}
{% block photo %}background-image: url({% static 'img/main-header.jpg' %}{% endblock %}
{% block header %}
  {{ block.super }}
{% endblock %}

{% block main %}
   <section class="my-5">
    <div class="container">
     <div class="row">
       <div class="col-lg-10 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">
              Dlaczego wybrać suPositioner?
            </h2>
          </div>
        </div>
       </div>
     </div>
      <div class="row mt-4">
        <div class="col-lg-10 mx-auto">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">OGROMNA BAZA DANYCH</h4>
                  <p class="card-text text-center">Nasi pracownicy stale dodają nowe produkty aby jak najlepiej sprostać Twoim oczekiwaniom</p>
                  <div class="row justify-content-center">
                    <div class="text-center">
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">4585 produktów</div>
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">128 producentów</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">OGROMNA BAZA DANYCH</h4>
                  <p class="card-text text-center">Nasi pracownicy stale dodają nowe produkty aby jak najlepiej sprostać Twoim oczekiwaniom</p>
                  <div class="row justify-content-center">
                    <div class="text-center">
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">4585 produktów</div>
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">128 producentów</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">OGROMNA BAZA DANYCH</h4>
                  <p class="card-text text-center">Nasi pracownicy stale dodają nowe produkty aby jak najlepiej sprostać Twoim oczekiwaniom</p>
                  <div class="row justify-content-center">
                    <div class="text-center">
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">4585 produktów</div>
                      <div class="btn btn-outline-primary w-75 mt-1 home-supositioner-btn">128 producentów</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section>

  <div class="container">
    <div class="h2 text-center mt-5 mb-4">Szukasz rzetelnych informacji?</div>
    <div class="row my-2">
      <div class="col-lg-10 mx-auto">
        {% for article in articles %}
            <div class="row mb-5">
              <div class="col-10">
                <div class="row">
                  <div class="col">
                    <div class="article-title-list h3">{{ article.title }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="article-info-list ">
                    <div class="col" style="flex-wrap: wrap;">
                      <div class="" style="white-space: nowrap;">
                        <span>Autor: {{ article.user }}</span>
                      </div>
                    </div>
                    <div class="col">
                      <span class="badge badge-danger">{{ article.category }}</span>
                    </div>
                    <div class="col-lg-5">
                      <div class="" >
                        <span class="">{{ article.tags }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="row">
                  <div class="col">
                    <div class="article-date-list float-right text-center">
                      <div class="article-date-day-list">{{ article.publish_date|date:"j" }}</div>
                      <div class="article-month-day-list">{{ article.publish_date|date:"M" }}</div>
                      <div class="article-year-day-list">{{ article.publish_date|date:"o" }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="article-image-wrapper-list d-none d-sm-block">
                <img src="{{ article.photo.url }}" class="img-fluid">
              </div>
              <div class="row">
                <div class="article-summary-list">
                  <p>{{ article.summary }}</p>
                  <a href="{% url 'article' article_slug=article.slug %}" class="btn btn-outline-dark article-list-read-more-btn">Czytał całość</a>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

    <div class="container">

        <div class="row my-5">
          <div class="col-lg-12 mx-auto">
            <div class="card home-article">
              <div class="row">
                <div class="col-lg-9">
                  <a href="{% url 'article' article_slug=article.slug %}" class="a-unstyled">
                    <div class="d-flex align-items-start flex-column home-article-photo" style="background-image: url({% if article.photo %}{{ article.photo.url  }}{% endif %});">
                      <div class="home-article-photo-bar home-article-photo-bar-featured mt-auto">
                          {{ article.tags }}
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-3 home-article-text">
                  <a href="{% url 'article' article_slug=article.slug %}" class="a-unstyled">
                    <h3>{{ article.title }}</h3>
                  </a>
                  <p>{{ article.summary }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
