{% extends '../index.html' %}

{% block header %}
{% endblock %}

{% block main %}
<section class="my-5">
	<div class="album text-muted content-wrapper">
	      <div class="container">
	      	<h3 class="text-center">Producenci</h3>
	      	{% for object in object_list %}
		      	{% if forloop.counter.first or forloop.counter0|divisibleby:3 %}
					 <div class="row">
				{% endif %}
				  <div class="col-md-4">
				    <div class="card list-card text-center pt-3" style="height: 200px;">
					      <a href="{% url 'company-nutritions' company_slug=object.slug %}">
					      	{% if object.logo %}
					      		<img class="card-img-top" style="width:200px; max-height: 110px;" src="{{ object.logo.url }}" alt="Card image cap">
					      	{% endif %}
					      </a>
					      <div class="card-body d-flex flex-row align-items-end justify-content-center" style="height: 100%;">
					       		<div class="h3 card-title">
							       	<a href="{% url 'company-nutritions' company_slug=object.slug %}">
							       		{{ object.name }}
							        </a>
					        	</div>
					        {% if object.nation == 'P' %}
					        	<div class="card-text">Polska firma</div>
					        {% endif %}
					      </div>
					    </div>
					  </div>
				{% if forloop.counter|divisibleby:3 or forloop.last %}
					 </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}