{% load forms_attrs %}
{% load utils %}

<div class="container comments-wrapper">
	<div class="row comments-header-main comments-header-line">
		<div>Recenzje suplementu</div>
	</div>
	{% for review in reviews %}
		<div class="row">
			<div class="col-md-12 p-3">
				<div class="comments-avatar-wrapper">
					<div class="comments-avatar"></div>
				</div>
				<div class="ml-3">
					<div class="row">
						<div class="col-md-7">
							<div><strong>{{ review.author.nick }}</strong><small class="text-muted"> {{ review.created|age }}</small></div>
							<div>{{ review.review }}</div>
						</div>
						<div class="col-md-5">
							{% for field in review.review_fields.all %}
							<div>
								<div class="comments-rank-fields">{{ field.get_field_display }}:</div>
								<div class="text-right">
									{% for rate in field.value|range %}
										<i class="fa fa-star" aria-hidden="true"></i>
									{% endfor %}
									{% for rate in field.value|range_rest %}
										<i class="fa fa-star-o" aria-hidden="true"></i>
									{% endfor %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="row comments-header-new comments-header-line">
		<div>Dodaj nową recenzję</div>	
	</div>
	<div class="row">
		<div class="col-md-8 mx-auto comments-new-wrapper">
			{% if form %}
				<form method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6 mt-1">
							{{ form.review|addatr:"class:form-control, rows:6, placeholder:Jak oceniasz suplement?" }}
						</div>
						<div class="col-lg-5 mt-2" id="rank-stars">
							{% for field in rank_form %}
								<div class="comments-rank-fields">{{ field.label }}</div>
								<div class="star-rating text-right"> 
									<span class="fa fa-star-o" data-rating="1"></span>
									<span class="fa fa-star-o" data-rating="2"></span>
									<span class="fa fa-star-o" data-rating="3"></span>
									<span class="fa fa-star-o" data-rating="4"></span>
									<span class="fa fa-star-o" data-rating="5"></span>
									{{ field|addatr:"class:rating-value" }}
	    						</div>
    						{% endfor %}
    					</div>
    				</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									{{ form.nick|addatr:"class:form-control, placeholder:Podaj nick" }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{{ form.email|addatr:"class:form-control, placeholder:Podaj swój email" }}
								</div>
							</div>
						</div>
						<div class="col-auto m-auto">
							<button type="submit" class="btn btn-outline-primary">Opublikuj recenzję<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</div>
					</div>
				</form>
			{% endif %}
		</div>
	</div>
</div>