{% extends '../base.html' %}
{% load static %}

{% block main_header %}
	<div class="row">
		<div class="col-sm-5">
			<p><img src="{{ company_logo }}" style="width: 400px; height: 400px;"></p>
			<h5 class="text-center">{{ company_name }}</h5>
			<h5 class="text-center"><a href="{{ company_site }}" target="_blank">Przejdź do strony producenta</a></h5>
		</div>
		<div class="col-sm-6 mt-5">
			<h4>{{ company_description }}</h4>
		</div>
	</div>
{% endblock %}
{% block photo %}{% endblock %}
{% block header %}
	{{ block.super }}
{% endblock %}

{% block main %}
<div class="album text-muted content-wrapper">
      <div class="container">
      	{% for object in object_list %}
	      	{% if forloop.counter == 1 or forloop.counter|divisibleby:4 %}
				 <div class="row">
			{% endif %}
				  <div class="col-sm-4">
				    <div class="card">
				      <a href="{% url 'whey' nutrition_slug=object.slug %}">
				      	<img class="card-img-top" style="width:200px; height:200px;" src="{{ object.photo.url }}" alt="Card image cap">
				      </a>
				      <div class="card-body">
				       	<a href="{% url 'whey' nutrition_slug=object.slug %}">
				       	 <h4 class="card-title">{{ object.name }}</h4>
				        </a>
				        <p class="card-text">{{ object }}</p>
				      </div>
				    </div>
				  </div>
			{% if forloop.counter|divisibleby:3 %}
				 </div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}