{% extends '../index.html' %}
{% load nutrition_tags %}

{% block header %}
{% endblock %}

{% block main %}
<div class="text-muted content-wrapper">
      <div class="container-fluid list-view">
      	<div class="list-heading text-center">
      		<a href="{% url 'whey-list' %}" class="list-heading-hover whey-heading">Białka</a>
      		<a href="{% url 'gainer-list' %}" class="list-heading-hover gainer-heading">Gainery</a>
      		<a href="{% url 'nutritions' %}"><span class='display-4'>Wszystkie</span></a>
      		<a href="{% url 'bcaa-list' %}" class='list-heading-hover bcaa-heading'>Bcaa</a>
      		<a href="{% url 'creatine-list' %}" class="list-heading-hover creatine-heading">Kreatyna</a>
      	</div>
      	{% for object in object_list %}
	      	{% if forloop.first or forloop.counter0|divisibleby:3 %}
				 <div class="row">
			{% endif %}
				  <div class="col-md-4">
				    <div class="card list-card {% get_class object %}-left-bar">
				    	<div class="text-center">
					      <a href="{% get_url object %}">
					      	{% if object.photo %}
					      		<img class="card-img-top" style="width:200px; height:200px;" src="{{ object.photo.url }}" alt="Card image cap">
					      	{% endif %}
					      </a>
					     </div>
					      <div class="card-body">
					       	 <a href="{% get_url object %}">
					       	 <h4 class="card-title">{{ object.name }}</h4>
					        </a>
					        <p class="card-text text-center list-card-price">{{ object.price|floatformat:2 }}zł</p>
					      </div>
				    </div>
				  </div>
			{% if forloop.counter|divisibleby:3 or forloop.last %}
				 </div>
			{% endif %}
		{% endfor %}
		{% if is_paginated %}
		<nav aria-label="pagination" class="list-pagination">
		  <ul class="pagination justify-content-center">
		    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
		      <a class="page-link" href="{% if page_obj.has_previous %}
		      								{% url url_name %}?page={{ page_obj.previous_page_number }}
		      							{% else %}
		      							#
		      							{% endif %}">Poprzednia</a>
		    </li>
		    {% for page in page_obj.paginator.page_range %}
		    	<li class="page-item"><a class="page-link" href="{% url url_name %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
		    {% endfor %}
		    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
		      <a class="page-link" href="{% if page_obj.has_next %}
		      								{% url url_name %}?page={{ page_obj.next_page_number }}
		      							{% else %}
		      							#
		      							{% endif %}">Następna</a>
		    </li>
		  </ul>
		</nav>
		{% endif %}
	</div>
</div>
{% endblock %}