{% extends '../index.html' %}
{% load static %}
{% load nutrition_tags %}
{% load utils %}

{% block style %}
    <link href="{% static 'form-outline.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="album text-muted content-wrapper">
      <div class="container">
		<div class="row">
			  <div class="col-md-4 text-center mb-5">
			  	{% if object.photo %}
			    	<img src="{{ object.photo.url }}" class="{% get_class object %}-left-bar" style="width:300px; height: 300px;">
			    {% endif %}

			    <h2 class="">
				    {% for star in rank|stars %}
				    	{% if star  == 'f' %}
				  			<i class="fa fa-star" aria-hidden="true"></i>
				    	{% elif star == 'h' %}
				    		<i class="fa fa-star-half-o" aria-hidden="true"></i>
				    	{% elif star == 'e' %}
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	{% endif %}
				    {% endfor %}
			     </h2>
			   	<h2 class="nutrition-price mt-5">{{ object.price|floatformat:2 }} zł</h2>
			   	<div class="btn btn-danger" role='button'>ceneo</div>
			  </div>
			  <div class="col-md-7 ml-3">
			    <h2>{{ object.name }}</h2>
			    <h4><a href="{% url 'company-nutritions' company_slug=object.company.slug %}">{{ object.company.name }}</a></h4>
			    <p>{% autoescape off %}{{ object.description|safe }}{% endautoescape %}</p>
				<div class="row mt-5">
					<div class="col-sm-4">Waga </div>
					<div class="col-sm-4">{{ object.weight }}g</div>
				</div>
				<div class="nutrition-composition mt-4">
				    <div class="row">
				    	<div class="col-sm-4"><strong>Nazwa</strong></div>
				    	<div class="col-sm-8 text-right"><strong>wartość w 100g</strong></div>
				    </div>
				    {% if object.kcal %}
					   	<div class="row">
					    	<div class="col-sm-4">Kaloryczność </div>
					    	<div class="col-sm-8 text-right">{{ object.kcal }} kcal</div>
					    </div>
				   	{% endif %}
				   	<div class="row">
				    	<div class="col-sm-4">Dostępne smaki </div>
				    	<div class="col-sm-8 text-right">{% for flavour in object.flavour.all %}{{ flavour.name }} {% endfor %}</div>
				    </div>
				    {% for composition in compositions %}
					    <div class="row">
					    	<div class="col-sm-4">{{ composition.field.name }} </div>
					    	<div class="col-sm-8 text-right">{{ composition.value }}g</div>
					    </div>
				    {% endfor %}
				 </div>
			 </div>
		 </div>
	</div>
	{% include 'nutritions/nutrition_reviews.html' %}
</div>
{% endblock %}

{% block script %}
<script>
var $ranks = $('#rank-stars').find('div.star-rating')

var SetRatingStar = function() {
  return $ranks.children().each(function() {
    if (parseInt($(this).siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
      return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
      return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
  });
};

$ranks.children().on('click', function() {
	$(this).siblings('input.rating-value').val($(this).data('rating'));
	return SetRatingStar();
});

SetRatingStar();
</script>
{% endblock %}